In [5]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import nltk
import re
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

In [54]:
text_files = [("C:\\Users\\shish\\EleenGu.txt"),("C:\\Users\\shish\\Gu.txt.txt"), ("C:\\Users\\shish\\roses.txt")]
data = [open(f).read() for f in text_files]

In [55]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer()
vector_matrix = count_vectorizer.fit_transform(data)
vector_matrix

<3x120 sparse matrix of type '<class 'numpy.int64'>'
	with 153 stored elements in Compressed Sparse Row format>

In [75]:
tokens = count_vectorizer.get_feature_names()
tokens

['10',
 'about',
 'all',
 'amongst',
 'and',
 'any',
 'are',
 'as',
 'ask',
 'attractive',
 'beautiful',
 'beautify',
 'beauty',
 'been',
 'below',
 'box',
 'by',
 'call',
 'can',
 'colours',
 'comment',
 'commenting',
 'compassion',
 'created',
 'decorative',
 'different',
 'english',
 'essay',
 'eternal',
 'everything',
 'face',
 'favourite',
 'flower',
 'flowers',
 'flower√¢',
 'for',
 'found',
 'fragrances',
 'friends',
 'garlands',
 'glorified',
 'god',
 'going',
 'grow',
 'grows',
 'has',
 'have',
 'here',
 'hope',
 'if',
 'in',
 'is',
 'it',
 'just',
 'king',
 'known',
 'like',
 'lines',
 'literature',
 'love',
 'many',
 'me',
 'more',
 'most',
 'my',
 'now',
 'of',
 'on',
 'or',
 'other',
 'out',
 'over',
 'packs',
 'petals',
 'pink',
 'places',
 'plant',
 'popularly',
 'preparing',
 'problem',
 'problems',
 'protect',
 'provided',
 'queen',
 'read',
 'red',
 'rose',
 'roses',
 'shapes',
 'short',
 'signs',
 'sizes',
 'small',
 'so',
 'solve',
 'some',
 'stand',
 'stem',
 'students',
 'tell',
 'terms',
 'that',
 'the',
 'then',
 'they',
 'thorns',
 'to',
 'topic',
 'understood',
 'used',
 'varieties',
 'very',
 'want',
 'we',
 'white',
 'world',
 'worship',
 'yellow',
 'you',
 'your']

In [76]:
vector_matrix.toarray()

array([[0, 0, 2, 1, 5, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 2, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 4, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        4, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 2, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 4, 0, 2, 1, 0, 0, 0, 1,
        1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
       [0, 0, 1, 0, 4, 0, 4, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0,
        0, 1, 0, 3, 0, 0, 0, 0, 0, 1, 3, 3, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 2, 2, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
        4, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 3, 1,
        1, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 6, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 1, 0, 1, 0, 0],
       [2, 1, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 2, 0, 3, 0, 1, 2,
        0, 0, 0, 0, 2, 2, 0, 1, 0, 0, 3, 0, 0, 2, 0, 0, 1, 0, 0, 0, 1, 0,
        0, 0, 3, 1, 1, 2, 2, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 1,
        0, 3, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 2, 0, 3, 0,
        0, 2, 0, 0, 0, 2, 1, 0, 0, 0, 2, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 6, 1]], dtype=int64)

In [77]:
import pandas as pd

def create_dataframe(matrix, tokens):

    doc_names = [doc{i+1}' for i, _ in enumerate(matrix)]
    df = pd.DataFrame(data=matrix, index=doc_names, columns=tokens)
    return(df)

SyntaxError: invalid syntax (<ipython-input-77-9b13f5cfa90e>, line 5)

In [78]:
create_dataframe(vector_matrix.toarray(),tokens)

,10,about,all,amongst,and,any,are,as,ask,attractive,...,varieties,very,want,we,white,world,worship,yellow,you,your
doc_1,0,0,2,1,5,0,1,1,0,1,...,1,1,0,0,1,0,1,1,0,0
doc_2,0,0,1,0,4,0,4,2,0,0,...,0,1,0,0,1,1,0,1,0,0
doc_3,2,1,0,0,0,2,0,0,1,0,...,0,0,1,1,0,0,0,0,6,1

In [74]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix,['doc_1','doc_2','doc_2'])

C:\Users\shish\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:54: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

          doc_1     doc_2     doc_2
doc_1  1.000000  0.696300  0.173376
doc_2  0.696300  1.000000  0.149012
doc_3  0.173376  0.149012  1.000000